:root {
  --background: #1A1D23;
  --highlight: #FF57B2;
  --heading: #F8F8F8;
  --body: #D7D7D7;

  background-color: var(--background);
  color: var(--body);
  font-family: 'Inter', sans-serif;

  @media (max-width: 1080px) {
    font-size: 93.75%;
  }

  @media (max-width: 720px) {
    font-size: 87.75%;
  }

  @media (max-width: 425px) {
    font-size: 81.50%;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none !important;
  color: inherit;
}
