.carregando {
  min-width: 100vw;
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.postBanner {
  width: 100%;
  height: 400px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.post {
  width: 700px;
  margin: 80px auto;

  h1 {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: -0.5px;

    color: var(--heading);
  }

  .postDetails {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.5rem;

    margin: 1.5rem 0 4rem 0;

    > div {
      display: flex;
      align-items: center;
      gap: .5rem;
    }
  }

  .postContentHeading {
    margin: 2.25rem 0;
    font-size: 2.25rem;
    color: var(--heading);
  }

  .postContent {
    p, li {
      margin-bottom: 1.125rem;
      font-size: 1.125rem;
      line-height: 140%;
    }

    ul, ol {
      list-style: none;
    }

    li {
      &:before {
        content: '●';
        margin-right: 0.5rem;
      }
    }

    a {
      color: var(--highlight);
      text-decoration: underline;
      transition: .3s;

      &:hover {
        filter: brightness(.85);
      }
    }
  }
}
