.carregando {
  min-width: 100vw;
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.postBanner {
  width: 100%;
  height: 400px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.post, .suggestions, .footerSeparator {
  width: 700px;
}

.post {
  margin: 80px auto 0 auto;

  h1 {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: -0.5px;

    color: var(--heading);
  }

  .postDetails {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem 1.5rem;

    margin: 1.5rem 0 4rem 0;

    > div {
      display: flex;
      align-items: center;
      gap: .5rem;
    }

    > i {
      width: 100%;
    }
  }

  .postContentHeading {
    margin: 2.25rem 0;
    font-size: 2.25rem;
    color: var(--heading);
  }

  .postContent {
    p, li {
      margin-bottom: 1.125rem;
      font-size: 1.125rem;
      line-height: 140%;
    }

    ul, ol {
      list-style: none;
    }

    li {
      &:before {
        content: 'â—';
        margin-right: 0.5rem;
      }
    }

    a {
      color: var(--highlight);
      text-decoration: underline;
      transition: .3s;

      &:hover {
        filter: brightness(.85);
      }
    }
  }
}

.footerSeparator {
  margin: 3rem auto;
  border: 1px solid var(--body);
  border-bottom: 0;
  opacity: .1;
}

.suggestions {
  margin: 0 auto 80px auto;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem 4rem;

  a {
    display: flex;
    flex-direction: column;
    gap: .5rem 0;

    transition: filter .3s;

    &.nextPostSuggestion {
      text-align: right;
    }

    &:hover {
      filter: brightness(.7);
    }

    > span {
      letter-spacing: -0.5px;
    }

    > span:first-child {
      font-size: 1.125rem;
    }

    > span:last-child {
      font-size: 1rem;
      font-weight: 600;
      color: var(--highlight);
    }
  }
}
